### Jekyll ###
_site
.sass-cache
.jekyll-metadata
Gemfile.lock


### Gulp ###
package.json
/node_modules/


### Atom ###
.ftpconfig
.sftpconfig


### Compiled Source ###
*.class
*.exe
*.o
*.so


### Compressed Packages ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
