<header id="header">
				<h1 id="logo"><a href="/">Dream Lines <span>by Jerry Webb</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/welcome.html">About</a></li>
                        <li><a href="/blog.html">Blog</a></li>
						<li class="submenu">
							<a href="">Nomadics</a>
							<ul>
								<li class="submenu">
									<a href="">Shelters...>
									<ul>
										<li><a href="#">Wild Ones</a></li>
										<li><a href="#">Special Ones</a></li>
										<li><a href="#">Portable Ones</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">Travels...</a>
									<ul>
										<li><a href="#">By Bike</a></li>
										<li><a href="#">By Sea Kayak</a></li>
										<li><a href="#">By Canoe</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">Tools...</a>
									<ul>
										<li><a href="#">For Communication</a></li>
										<li><a href="#">For Living Off-Grid</a></li>
										<li><a href="#">For Pitching Ideas</a></li>
									</ul>
								</li>
								<li><a href="/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="/right-sidebar.html">Right Sidebar</a></li>
								<li><a href="/no-sidebar.html">No Sidebar</a></li>
							</ul>
						</li>
						<li><a href="#" class="button special">Contact</a></li>
					</ul>
				</nav>
			</header>
